.dc-chart g.row text {
    fill: black;
    font-size:0.8em;
}

.dc-chart .pie-slice {
    fill:black;
}

.x-axis-label{
    font-size:0.8em;
}

.dc-chart g.selected path {
    stroke-width:1px !important;
}

#header{
    padding-bottom:20px;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom:20px;
}

.container{
    padding-bottom:20px;
    min-width:500px;
}

.dashbutton{
    background-color:#E57373;
    border-color:#E57373;
}

.dashbutton:hover {
    background-color:#D56363;
    border-color:#D56363;
}

.viz-chart {
    width:100%;
}

p {
    font-size:1.2em;
}

.red {
    background-color:#EF5350;
    padding:20px;
    margin:5px;
    border-radius: 25px;
}

.orange {
    background-color:#FFB300;
    padding:20px;
    margin:5px;
    border-radius: 25px;
}

.green {
    background-color:#7CB342;
    padding:20px;
    margin:5px;
    border-radius: 25px;
}

.title{
    height:50px;
}
